amqp
asgiref
billiard
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
Django
django-cors-headers
django-restframework
docker
gunicorn
idna
kombu
prompt_toolkit
python-dateutil
python-dotenv
pywin32
redis
requests
six
sqlparse
tzdata
urllib3
vine
wcwidth
whitenoise=